<video width=100% controls autoplay>
    <source src="../../assets/TaxLocator.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
<div>
    <h2>Tax Forms by Location</h2>
    <p>
        Unfortunately the code base is owned by a previous employer, however the project ended up turning out well, so I included it anyways. The purpose of the application is to provide corporations with an easy way to know which kind of forms they would have to file. It uses a database that holds each tax form and the corresponding jurisdiction to output the results in the text box on the left. It then connects to the GeoJSON library published by the US census bureau to display those locations on a map. There is also an option to pass a list of addresses in the form of a json object for larger companies to take advantage of the tool. The database used to populate the results in this demo was just a small portion of the real data. The PowerBI free version did not support the volume of data in the full set. The project used Typescript, an Angular framework, and PowerBI to process the data.
    </p>
</div>