<app-main-content></app-main-content>

<div>
    <table>
    <tr>
        <td class="container">
            <a routerLink="/geoDemo">
                <img class="image" src="../../assets/TaxLocator.png">
                <div class="middle">
                    <div class="text">Tax Form GeoLocation Web App</div>
                </div>
            </a>
        </td>
        <td class="container">
            <a routerLink="/coastalCanopy">
                <img class="image" src="../../assets/coastalCanopy.png">
                <div class="middle">
                    <div class="text">Coastal Canopy Website</div>
                </div>
            </a>
        </td>
        <td class="container">
            <a routerLink="/travelBlog">
                <img class="image" src="../../assets/travelBlog.png">
                <div class="middle">
                    <div class="text">Travel Blog Website</div>
                </div>
            </a>
        </td>
    </tr>
    <tr>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
    </tr>
    <tr>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
    </tr>
    </table>
</div>