$base-color: #234E70
$complimentary-color: #FBF8BE

table
    width: 100vw
    height: 84vw
    background-color: $complimentary-color
    border-spacing: 2vw
td
    background-color: $base-color
    border-radius: 3vw
    margin-left: 2vw
    margin-right: 2vw