<div>
    <table>
    <tr>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
    </tr>
    <tr>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
    </tr>
    <tr>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
    </tr>
    </table>
</div>