<app-main-content></app-main-content>

<div>
    <table>
    <tr>
        <td class="container">
            <a routerLink="/geoDemo">
                <img class="image" src="../../assets/TaxLocator.png">
                <div class="middle">
                    <div class="text">Tax Form GeoLocation</div>
                </div>
            </a>
        </td>
        <td><img src="../../assets/coastalCanopy.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
    </tr>
    <tr>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
    </tr>
    <tr>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
        <td><img src="../../assets/TaxLocator.png"></td>
    </tr>
    </table>
</div>